.md-grid {
    max-width: 1440px; 
  }


  :root > * {
    --md-typeset-a-color: #258AC9;
    --md-footer-fg-color: black;
    --md-footer-fg-color--light: hsla(0, 0%, 100%, 0.7);
    --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 0.3);
    --md-footer-bg-color: white;
    --md-footer-bg-color--dark: rgb(207, 2, 43);
  }


  .md-typeset code, .md-typeset table:not([class]) td>:first-child {
    color: black;
    background-color: rgb(219, 219, 219);
  }


  .md-typeset pre>code {
    background-color: rgb(239, 239, 239);
  }